// ======
// COLORS
// ======

// =====
// FONTS
// =====

// =======
// GENERAL
// =======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  cursor: pointer;

  * {
    cursor: pointer;
  }
}
